In [1]:
import datetime
from functions import createListofDays, generateDays, convertToDf

In [2]:
startDate = datetime.datetime(2020, 1, 1)
listOfDays = createListofDays(startDate,365)

In [3]:
listOfDaysWithValues = generateDays(listOfDays)
df = convertToDf(listOfDaysWithValues)

In [4]:
df.head()

                 Time  Indoor Temperature  Indoor Temperature
0 2020-01-01 01:00:00           23.001256           25.838065
1 2020-01-01 02:00:00           23.139947           25.507064
2 2020-01-01 03:00:00           23.156075           25.885148
3 2020-01-01 04:00:00           22.918759           25.622616
4 2020-01-01 05:00:00           22.643423           26.025933